:root {
  --purple: #2A004E;
}

.bg-purple {
  background-color: var(--purple);
}

.bg-purple:hover {
  background-color: var(--purple);
}

.bg-purple:focus {
  background-color: var(--purple);
}

.border-purple {
  border: solid 2px var(--purple);
}
