:root {
  --purple: #2A004E;
}

.bg-purple {
  background-color: var(--purple);
}

.bg-purple:hover {
  background-color: var(--purple);
}

.bg-purple:focus {
  background-color: var(--purple);
}

.border-purple {
  border: solid 3px var(--purple);
}

.card-user {
  border-bottom: solid 4px var(--purple) !important;
  border-radius: 16px;
}

.text-purple{
  color: var(--purple);
}