:root {
  --purple: #2A004E;
}

.bg-purple {
  background-color: var(--purple);
}

.bg-purple-10{
  background-color: rgba(42, 0, 78, .3);
}

.bg-purple:hover {
  background-color: var(--purple);
}

.bg-purple:focus {
  background-color: var(--purple);
}

.border-purple {
  border: solid 3px var(--purple);
}

.avatar{
  width: 100px;
  height: 100px;
}

.hover-effect{
  transition: all .3s ease;
}

.hover-effect:hover {
  transform: scale(.9);
  box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.card-user {
  border-bottom: solid 4px var(--purple) !important;
  border-radius: 16px;
}

.text-purple{
  color: var(--purple);
}